- const __ = htmlWebpackPlugin.options.i18n
- const posts = htmlWebpackPlugin.options.posts
html
  head
    meta(charset="utf-8")
    title New Web Site
  body
    .container
      h1.site-title Araya's reservoir
      .site-description
        p 主にWeb技術について書きます。
        p 雑記 ->
          a(href="http://allajah.hatenablog.com") はてなブログ
      .posts
        each post in posts
          .post-card
            a.post-preview(href=`/posts/${post.filename}.html`)
              h2.post-preview-title !{post.title}
              span.post-preview-date !{post.date}
    include footer
