- const post = htmlWebpackPlugin.options.post
html
  body
    div.container
      div.article-container
        article.article
          h1.title !{post.title}
          | !{require(`../assets/posts/${post.filename}.md`)}
