@import "color.styl"
.article-container
  //border: 1px solid $darkGray
  border-radius: 4px
  box-shadow: 0 4px 10px 0 $lightGray
  padding: 1em 2em
  background: $pureWhite
.article
  *
    color: $darkGray
  h1, h2, h3, h4, h5, h6
    font-weight: 700
    margin-top: 28px
    margin-bottom: 16px
    color: $black
  h1
    font-size: 32px
  h2
    font-size: 20px
  img
    width: 100%
  p
    line-height: 1.5
    letter-spacing: 0.01em
    font-weight: 200
    margin: 0
  pre
    background-color: $lightGray
    padding: 1em
    overflow-x: auto
    code
      padding: 0
  code
    font-family: "Lucida Console", Monaco, monospace
    background-color: $lightGray
    color: $black
    padding: 0 .25em
  a
    color: $blue
  li
    line-height: 1.5
    margin: .25em 0
  .title
    font-weight: 200
    line-height: 1.5
