@import "../components/post-preview/post-preview.styl"
@import "posts.styl"
@import "~normalize.css"
@import "color.styl"
*
  box-sizing: border-box
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
a
  color: inherit
p
  margin: 0
h1, h2, h3, h4, h5, h6
  margin: 0

.header
  background:linear-gradient(135deg, #f02fc2 0%,#6094ea 100%);
  font-size: 20px
  height: 4em
  .title
    font-size: 1.5em
    color: $white
