@import "color.styl"
.post-card
  width: 100%
  height: 14em
  border: 1px solid $lightGray
  box-shadow: 0 0 20px 0 $lightGray
  background: $white
  border-radius: 3px
  padding: 1em
  &:hover
    box-shadow: 0 2px 16px 0 rgba($purple, .2)

.post-preview
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 100%
  height: 100%
  &-title
    line-height: 1.5
    text-decoration: none
    color: $darkGray
    font-size: 18px
    font-weight: 100
  &-date
    color: $metal
    font-size: 12px
